@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Medellin - Colombia<br />
    <abbr title="Phone">P:</abbr>
    3128432131
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:leferjamora@gmail.com">leferjamora@gmail.com</a><br />
</address>